@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body.tab-active-bg {
    background-position: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/css/imgAssets/background-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: top 0.3s;
}

.navbar-hidden {
    top: -70px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img.Logo {
    width: 50px;
    height: auto;
}

.nav-buttons {
    display: flex;
    position: absolute;
    gap: 10px;
    top: 12px;
    right: 5px;
    z-index: 1050;
}

.nav-button {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    background-color: transparent;
    border: none;
}

.nav-button:hover {
    background-color: #555;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 70px;
    background-color: rgba(167, 167, 167, 0.9);
    overflow: hidden;
    min-width: 300px;
}

.sidebar {
    width: 200px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-button {
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.sidebar-button:hover {
    background-color: #555;
}

.main-content {
    background-color: #575757;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0;
    flex: 1;
    padding: 20px 50px;
    overflow: auto;
    margin: 0 70px;
    min-width: calc(300px - 140px);
    justify-content: center;
}

h1 {
    color: #333;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#search-bar {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none; /* Makes it blend with the button */
    border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
    outline: none;
    width: 300px; /* Adjust based on preference */
    margin-bottom: 20px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#search-button:hover {
    background-color: #555;
}

.browser-content {
    color: #f3f3f3;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}

.category {
    margin-bottom: 10px;
}

.category-toggle {
    cursor: pointer;
}

.category:before {
    content: '▶';
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.category.expanded:before {
    transform: translateY(-50%) rotate(90deg);
}

.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    color: #f3f3f3;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6;
}

.browser-button {
    padding: 8px 15px;
    font-size: 16px;
    border: 1px solid #8B4513;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    background-color: #F4A460;
    color: #5A3825;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    margin-right: 7px;
}

.view-button {
    background-color: #F4A460;
}

.edit-button {
    background-color: #DEB887;
}

.delete-button {
    background-color: #CD853F;
}

.confirm-delete {
    background-color: #d65e5e;
    color: #ffffff;
}

.browser-button:hover {
    opacity: 0.9;
    color: #8B4513;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 14px;
}

@media (max-width: 768px) {
    .main-content {
        padding: 10px 20px;
        margin: 0 20px 0 20px;
    }

    .title-input, .article-content {
        width: 100%;
    }

    .button-container, .section-buttons {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .save-button, .view-button, .section-button {
        width: 100%;
        text-align: center;
    }
}