@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body.tab-active-bg {
    background-position: center; /* Keep the background image centered */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/css/imgAssets/background-2.png);
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: top 0.3s; /* Add this line for smooth transitions */
}

.navbar-hidden {
    top: -70px; /* Adjust based on the actual height of your navbar */
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img.Logo {
    width: 40px;
    height: auto;
}

.nav-buttons {
    display: flex;
    position: absolute;
    gap: 10px;
    top: 12px;
    right: 5px;
    z-index: 1050;
}

.nav-button {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    background-color: transparent;
    border: none;
}

.nav-button:hover {
    background-color: #575757;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 70px;
    background-color: rgba(167, 167, 167, 0.9);
    overflow: hidden;
}

.sidebar {
    width: 200px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-button {
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.sidebar-button:hover {
    background-color: #575757;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 14px;
}
