<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Article</title>
    <link rel="stylesheet" href="/Article/character-article.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-logo" href="/dashboard" alt="Logo">
                <img src="/css/imgAssets/project_Logo.png" alt="Logo" class="Logo">
            </a>
            <div class="nav-buttons" id="nav-buttons">
                <a href="/" class="nav-button signout-button" onclick="handleLogout()">Sign Out</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="sidebar">
            <a href="/articleCreation" class="sidebar-button">New Article</a>
            <a href="/browser" class="sidebar-button">Browser</a>
            <a href="/community" class="sidebar-button">Community</a>
        </div>

        <div class="content-wrapper">
            <div class="main-content">
                <div class="button-container">
                    <button href= "/browser" class="save-button">Save</button>
                    <button href= "/viewArticle" class="view-button">View</button>
                </div>
                <div class="article-title">
                    <p>Article Title</p>
                    <input type="text" class="title-input" id="articleTitle" placeholder="Enter article title">
                </div>
                <div class="section-buttons">
                    <button class="section-button">Body</button>
                    <button class="section-button">Sidebar</button>
                    <button class="section-button">Navigation</button>
                </div>
                <textarea class="article-content" id="articleContent" placeholder="Enter your article content here"></textarea>
            </div>
        </div>
        
    </div>

    <footer class="footer">
        <p>A project for the class of COMP 380</p>
    </footer>

</body>
</html>