<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-logo" href="/dashboard" alt="Logo">
                <img src="/css/imgAssets/project_Logo.png" alt="Logo" class="Logo">
            </a>
            <form class="nav-buttons" id="nav-buttons" action="/logout" method="post">
                <button class="nav-button">Sign Out</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="sidebar">
            <a href="/articleCreation" class="sidebar-button">New Article</a>
            <a href="/browser" class="sidebar-button">Browser</a>
            <a href="/community" class="sidebar-button">Community</a>
        </div>
        <div class="content-center">
        <section>
            <h1>~~~Welcome to Wanderers Quill Dashboard~~~</h1>
            <div class="description-section">
                <p>The buttons on the side bar to the left of the page will direct you to different feature that our world building websit has for now. The "New Article" button give you access to the 6 article templates that we have for creating. The under it button called "Brower" gives you access to all existing articles sorted by category, provides a single point of contact for the user to browse all articles that they have created. The next one down is the "Community" button which allows for access to other users articles and see what kind of world builds they have made to either get inspirtaion from other users or to also use there world build for there own personal use. </p> 
            </div>
            <div class="description-section">
                <h2>Future Feature Implamentations</h2>
                <div class="container-two">
                    <div class="column-features">
                        <h3>Grouping System</h3>
                        <p>(Followers/Subscribers)</p>
                    </div> 
                    <div class="column-features">
                        <h3>Tables</h3>
                        <p>(Excel like of tables for organization)</p>
                    </div> 
                    <div class="column-features">
                        <h3>Calendars</h3>
                        <p>(Gregorian and Fully Customizable)</p>
                    </div> 
                </div>
            </div>
            <div class="description-section">
                <div class="container-two">
                    <div class="column-features">
                        <h3>Content Trees & Charts </h3>
                        <p>(Technology Trees, Hierarchical trees, etc...)</p>
                    </div> 
                    <div class="column-features">
                        <h3>Timelines</h3>
                        <p>(A timeline outlines significant events, shaping history and culture.)</p>
                    </div> 
                    <div class="column-features">
                        <h3>Productivity Tools</h3>
                        <p>(To Do list, Work completed, week goals,etc...)</p>
                    </div> 
                </div>
            </div>
            <div class="description-section">
                <div class="container-two">
                    <div class="column-features">
                        <h3>Maps Implementation </h3>
                        <p>(Markers linked to articles, Territory Markers, Map Labels, etc...)</p>
                    </div> 
                    <div class="column-features">
                        <h3>Co-ownership & Editors implementation</h3>
                        <p>(Allows multiple users to collaborate and edit content in real-time.)</p>
                    </div> 
                    <div class="column-features">
                        <h3>Monetization </h3>
                        <p>(Free Use w/Ads, Possible implementation of Tier Subcriptions) </p>
                    </div> 
                </div>
            </div>
        </section>
        </div>
    </div>

    <footer class="footer">
        <p>A project for the class of COMP 380</p>
    </footer>

    <script src="/script.js"></script>

</body>
</html>