<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Article</title>
    <link rel="stylesheet" href="/Article/general-article.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-logo" href="/dashboard" alt="Logo">
                <img src="/css/imgAssets/project_Logo.png" alt="Logo" class="Logo">
            </a>
            <div class="nav-buttons" id="nav-buttons">
                <a href="/" class="nav-button signout-button" onclick="handleLogout()">Sign Out</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="sidebar">
            <a href="/articleCreation" class="sidebar-button">New Article</a>
            <a href="/browser" class="sidebar-button">Browser</a>
            <a href="/community" class="sidebar-button">Community</a>
        </div>

        <div class="content-wrapper">
            <div class="main-content">
                <div class="button-container">
                    <button href="/browser" class="save-button">Save</button>
                    <button href="/viewArticle" class="view-button">View</button>
                </div>
                <div class="article-title">
                    <p>Article Title</p>
                    <label for="title"></label>
                    <input class="title-input" type="text" id="title" name="title" required>
                </div>
                <div class="section-box">
                    <button class="section-button active">Body</button>
                    <button class="section-button">Sidebar</button>
                    <button class="section-button">Navigation</button>
                </div>

                <div class="content-box">
                    <div class="content active">
                        <label for="article-body">Body:</label>
                        <input class="body-input" type="text" id="body" name="body" required>
                    </div>

                    <div class="content">
                        <label for="article-sttb">Sidebar: Top Text Box</label>
                        <input class="sstb-input" type="text" id="sttb" name="sttb" required>

                        <label for="article-sptb">Sidebar: Panel Top Text Box</label>
                        <input class="sptb-input" type="text" id="sptb" name="sptb" required>

                        <label for="article-spbb">Sidebar: Panel Bottom Text Box</label>
                        <input class="spbb-input" type="text" id="spbb" name="spbb" required>
                        
                        <label for="article-sbtb">Sidebar: Bottom Text Box</label>
                        <input class="sbtb-input" type="text" id="sbtb" name="sbtb" required>
                    </div>

                    <div class="content">
                        <h2>Coming Soon in SPRINT3</h2>
                    </div>

                </div>
            </div>
        </div>
        
    </div>

    <footer class="footer">
        <p>A project for the class of COMP 380</p>
    </footer>

</body>
</html>
