<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-logo" href="/" alt="Logo">
                <img src="/css/imgAssets/project_Logo.png" alt="Logo" class="Logo">
            </a>
            <div class="nav-buttons">
                <a href="/login" class="nav-button login-button">Login</a>
                <a href="/register" class="nav-button register-button">Create your account</a>
            </div>
        </div>
    </nav>

    <footer class="footer">
        <p>A project for the class of COMP 380</p>
    </footer>

<<<<<<< HEAD
=======
    <script src="/js/rememberMe.js"></script>

>>>>>>> 9a876406d93f192e74f5a19d1a588c896fc590b7
</body>
</html>