<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-logo" href="/navbar-logo" alt="Logo">
                <img src="/css/imgAssets/project_Logo.png" alt="Logo" class="Logo">
            </a>
            <div class="nav-buttons">
                <a href="/login" class="nav-button login-button">Login</a>
                <a href="/register" class="nav-button register-button">Register</a>
            </div>
        </div>
    </nav>


    <div class="content-center">
        <nav class="project-title-section">
            <img src="/css/imgAssets/Project_Title.png" alt="Project Title Logo" class="project-title-logo">
        </nav>


        <section class="description-section">
            <p>Welcome to our worldbuilding haven! Here, we blend creativity with practical know-how to help you craft intricate realms. Dive into character creation, design diverse species, forge clans with unique identities, and develop rich, believable religions. Our storytelling tips will guide you through crafting compelling narratives, while our focus on organizing ideas ensures your worldbuilding journey is smooth and structured.</p>
            <p class="indent"></p>
            <p>Whether you're just starting or a seasoned worldbuilder, our resources cater to all levels of experience. Discover step-by-step guides and handy templates that streamline the process, making it easier than ever to flesh out your universe. We emphasize the importance of coherent storytelling and interconnected elements, ensuring every aspect of your world fits together seamlessly.</p>
            <p class="indent"></p>
            <p>Join our vibrant community where creators like you share insights, collaborate, and celebrate each other's successes. Whether you're dreaming up fantasy realms or futuristic galaxies, our goal is to empower you to create worlds that feel alive and immersive. Let your imagination run wild while we provide the tools and support to bring your visions to life!</p>
        </section>

        <a href="/register" class="create-button">CREATE YOUR ACCOUNT NOW</a>
        
        <nav class="map-image-section">
            <img src="/css/imgAssets/Map.png" alt="Map-Image" class="map-image-logo">
        </nav>

        <section class="description-section">
            <div class="container">
                 <div class="column-features">
                    <h2>Article Editor</h2>
                    <p>The Article Editor allows for refines content for publication, ensuring accuracy, clarity, and coherence while maintaining the author's creation and style.</p>
                 </div>
                <div class="column-features">
                    <h2>File Organization</h2>
                    <p>The File Organization System arranges digital files and articles systematically, enhancing accessibility, efficiency, and order in data management.</p>
                </div>
                <div class="column-features">
                    <h2>Article Publishing</h2>
                    <p>The Article Publishing system streamlines the creation, editing, and distribution of content, ensuring efficient workflow and consistent quality.</p>
                </div>
            </div>
            <div class="container">
                 <div class="column-features">
                    <h2>Unlimited Articles</h2>
                    <p>The Unlimited Articles feature grants users unrestricted access to all content, fostering extensive exploration and comprehensive world-building resources.</p>
                 </div>
                <div class="column-features">
                    <h2>Linked Articles</h2>
                    <p>The linked articles feature in a world-building website connects related content, enhancing navigation, coherence, and depth of the fictional universe.</p>
                </div>
                <div class="column-features">
                    <h2>Templates Tropes</h2>
                    <p>The Templates/Inspiration tropes feature provides predefined structures and creative prompts, aiding users in developing consistent and imaginative world-building elements.</p>
                </div>
            </div>
        </section>

        <section class="description-section">
            <h3>ABOUT US</h3>
            <div class="container">
                <div class="column">
                     <h2>Mahhad Soherwardey</h2>
                     <p>Leader of the Super Seniors: I am currently a Senior at CSUN, with computer science I want to become a frontend developer. I am most familiar with JavaScript and Java, and have some experience with Python, CSS, HTML and PHP</p>
            </div>
            </div>
            <div class="container">
                <div class="column">
                     <h2>Anh Trinh</h2>
                     <p class="pc">I am currently a sophomore at CSUN. My goal is to be able to become a software engineer. My most well known languages are Java with some fundamental knowledge in python, html, css and javascript</p>
            </div>
            <div class="column">
                    <h2>Edwin F. Medina</h2>
                    <p>I am currently a Senior at CSUN. My goal with Comp Science is to create my own Videogame Company and develop our technology close to what SAO or The Eye of Minds. I am familiar with Java, and have some experience with C++, C#, HTML, and CSS</p>
            </div>
            </div>
            <div class="container">
                <div class="column">
                     <h2>Ethan Yanez</h2>
                     <p>I am currently a Senior at CSUN. My goal with comp science is to become a software developer for a big commpany like Apple, Microsoft, or Netfilx. The languages that I am most familiar with are Java, JavaScript, C/C++, Html, and CSS. </p>
            </div>
            <div class="column">
                    <h2>Mauricio Andrade</h2>
                    <p>I am currently a senior at CSUN. My goal is to become very efficient at the most common areas in software engineering and utilize this as my main income. My known language is Java along with some and still learning JavaScript, HTML, Python, and SQL, with some theorical understanding of C.</p>
            </div>
            </div>
        </section>

    <h1>MADE BY THE SUPER SENIORS</h1>
    </div>
    

    <footer class="footer">
        <p>A project for the class of COMP 380</p>
    </footer>

    <script src="/js/rememberMe.js"></script>
    <nav class="blur-center"></nav>

</body>
</html>