<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-logo" href="/dashboard" alt="Logo">
                <img src="/css/imgAssets/project_Logo.png" alt="Logo" class="Logo">
            </a>
            <div class="nav-buttons">
                <a href="/login" class="nav-button login-button">Login</a>
                <a href="/register" class="nav-button register-button">Create your account</a>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <form action="/login" method="post">
            <img class="project-title" src="/css/imgAssets/Project_Title.png">

            {{#if error}}
            <div id="error-message" class="error-message">
                Incorrect username or password, please try again
            </div>
            {{/if}}

            <div class="input-box">
                <input type="text" name="name" id="username" placeholder="Username" required>
                <i class='bx bxs-user-circle'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" id="password"placeholder="Password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox" id="rememberMe" name="rememberMe" value="remember"> Remember me</label>
                <a href="#">Forgot password?</a>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Don't have an account? <a href="/templates/register.hbs">Register</a></p>
            </div>
        </form>
    </div>

    <footer class="footer">
        <p>A project for the class of COMP 380</p>
    </footer>

    <script src="/js/rememberMe.js"></script>
    
</body>
</html>