<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <h2>Log In</h2>

    <div class="site-description">
        <p>[Site Description for our site will go here]</p>
    </div>

    {{#if error}}
    <p class="error">{{error}}</p>

    {{/if}}
    <form action="/login" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="password" name="password" placeholder="Password">
        <input type="submit">
    </form>

    <a href="/register">register for a new account</a>
    
</body>
</html>