<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Article</title>
    <link rel="stylesheet" href="/Article/viewArticle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id="viewContent">
        <h1 id="articleTitle">Article Title</h1>
        <p id="articleBody"></p>
    </div>

    <script>
    window.onload = function() {
        const articleContent = sessionStorage.getItem('articleContent');

        document.getElementById('articleTitle').innerText = content.title;
        document.getElementById('articleBody').innerText = content.body;
    };
    </script>
</body>
</html>