<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Articles</title>
    <link rel="stylesheet" href="/Article/viewArticle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id="articlesContainer">
        <div class="article">
            <h1 id="articleTitle"></h1>
            <div id="articleBody"></div>
            <p id="articleSttb"></p>
            <p id="articleSptb"></p>
            <p id="articleSpbb"></p>
            <p id="articleSbtb"></p>
        </div>
    </div>

    <footer class="footer">
        <p>A project for the class of COMP 380</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const title = localStorage.getItem('articleTitle');
            const body = localStorage.getItem('articleBody');
            const sttb = localStorage.getItem('articleSttb');
            const sptb = localStorage.getItem('articleSptb');
            const spbb = localStorage.getItem('articleSpbb');
            const sbtb = localStorage.getItem('articleSbtb');

            document.getElementById('articleTitle').textContent = title;
            document.getElementById('articleBody').innerHTML = body;  // Use innerHTML to render HTML content
            document.getElementById('articleSttb').innerHTML = sttb;
            document.getElementById('articleSptb').textContent = sptb;
            document.getElementById('articleSpbb').textContent = spbb;
            document.getElementById('articleSbtb').textContent = sbtb;
        });
    </script>
</body>
</html>
