<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Articles</title>
    <link rel="stylesheet" href="/Article/viewArticle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-logo" href="/navbar-logo" alt="Logo">
                <img src="/css/imgAssets/project_Logo.png" alt="Logo" class="Logo">
            </a>
            <form class="nav-buttons" id="nav-buttons" action="/logout" method="post">
                <button class="nav-button">Sign Out</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="content-wrapper">
            <div class="main-content">
                
                <div class="article-header">
                    <h1 id="articleTitle"></h1>
                    <div class="header-buttons">
                        <a href="/dashboard" class="header-button">Dashboard</a>
                        <a href="/browser" class="header-button">Browser</a>
                    </div>
                </div>

                <div class="article-content">
                    <div class="article-info">
                        <div id="articleBody"></div>
                        <div id="additionalBody"></div>
                    </div>
                    <div class="sidebar">
                        <p id="articleSttb"></p>
                        <div class="sidebar-panel">
                            <p id="articleSptb"></p>
                            <div id="additionalSidebar"></div>
                            <p id="articleSpbb"></p>
                        </div>
                        <p id="articleSbtb"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer">
        <p>A project for the class of COMP 380</p>
    </footer>

    <script src="/viewArticle.js"></script>
    <script src="/script.js"></script>
</body>
</html>
