@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body.tab-active-bg {
    background-position: center; /* Keep the background image centered */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/css/imgAssets/background-2.png);
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: top 0.3s; /* Add this line for smooth transitions */
}

.navbar-hidden {
    top: -70px; /* Adjust based on the actual height of your navbar */
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img.Logo {
    width: 50px;
    height: auto;
}

.nav-buttons {
    display: flex;
    position: absolute;
    gap: 10px;
    top: 12px;
    right: 5px;
    z-index: 1050;
}

.nav-button {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    background-color: transparent;
    border: none;
}

.nav-button:hover {
    background-color: #575757;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 70px;
    background-color: rgba(167, 167, 167, 0.9);
    overflow: hidden;
    /*adjust for page sizing*/
    min-width: 300px; /* Set a minimum width for the container */
}

.sidebar {
    width: 200px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-button {
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.sidebar-button:hover {
    background-color: #575757;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*adjust for page sizing*/
    overflow: auto;
}

.main-content {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0;
    flex: 1;
    background-color: #575757;
    padding: 20px 50px;
    /*adjust for page sizing*/
    overflow: auto;
    margin: 0 70px;
    min-width: calc(300px - 140px);
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.save-button,
.view-button {
    padding: 10px 20px;
    background-color: #4ea2fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.article-title {
    margin-bottom: 20px;
    color: white;
}

.title-input {
    width: 55%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section-box { /* Modify by the handsome Nuno */
    display: flex;
    padding-bottom: 20px;
}

.section-box .section-button { /* Modify by the handsome Nuno */
    width: 150px;
    padding: 10px 20px;
    background-color: #2e2e2e80;
    color: #fff;
    border: 1px solid rgb(19, 19, 19);
    cursor: pointer;
}

.section-box .section-button.active { /* Modify by the handsome Nuno */
    width: 150px;
    padding: 10px 20px;
    background-color: #2e2e2e;
    color: #fff;
    border: 1px solid rgb(19, 19, 19);
    cursor: pointer;
}

.content-box .content {
    display: none;
    background-color: white;
    color: black;
}

.content-box .content.active {
    display: block;
    margin-bottom: 50px;
    background-color: white;
    color: black;
}

.content-box .content.active h3 {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #575757;
}

.content-box .content.active label {
    display: block; /* Show labels as blocks to appear above inputs */
    margin-bottom: 5px; /* Add spacing between labels and inputs */
}

.content-box .content.active input {
    width: 100%;
    height: 300px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Quill Editor CSS -- Starts */
textarea,
input {
    border: 1px solid #ccc;
  }
 
textarea,
input,
  .ql-editor {
    padding: 4px;
    font-size: 14px;
  }
  
#editor {
    width: 100%;
    height: 400px;
}

#sttb {
    width: 100%;
    height: 200px;
}

#sptb {
    width: 100%;
    height: 200px;
}

#spbb {
    width: 100%;
    height: 200px;
}

#sbtb {
    width: 100%;
    height: 200px;
}

#ch-h {
    width: 100%;
    height: 200px;
}
/* Quill Editor CSS -- Ends */

/* Template Prompt Button -- Starts */
.acc_buttons {
    display: flex;
    padding-bottom: 20px;
}

.acc_buttons .acc-button{ 
    width: 100%;
    padding: 10px 20px;
    background-color: #2e2e2e80;
    color: #fff;
    border: 1px solid rgb(19, 19, 19);
    cursor: pointer;
}

.acc_buttons .acc-button.active{ 
    width: 100%;
    padding: 10px 20px;
    background-color: #2e2e2e;
    color: #fff;
    border: 1px solid rgb(19, 19, 19);
    cursor: pointer;
}

.acc_section .acc_content {
    display: none;
    background-color: white;
    color: black;
}

.acc_section .acc_content.active {
    display: block;
    margin-bottom: 50px;
    background-color: white;
    color: black;
}

.acc_section .acc_content.active h3 {
    color: white;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #575757;
}

.acc_section .acc_content.active h4 {
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #575757;
}

/* Template Prompt Button -- Ends */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 14px;
}

/*adjust for page sizing*/
@media (max-width: 768px) {
    .main-content {
        padding: 10px 20px;
        margin: 0 20px 0 20px; /* Adjust horizontal margin */
    }

    .title-input, .article-content {
        width: 100%;
    }

    .button-container, .section-buttons {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .save-button, .view-button, .section-button {
        width: 100%;
        text-align: center;
    }
}
