@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/css/imgAssets/background-2.png);
    background-size: cover;
    background-position: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img.Logo {
    width: 50px;
    height: auto;
}

.nav-buttons {
    display: flex;
    position: fixed;
    gap: 10px;
    top: 12px;
    right: 5px;
}

.nav-button {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.nav-button:hover {
    background-color: #575757;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 70px;
    background-color: rgba(167, 167, 167, 0.9);
    overflow: hidden;
}

.sidebar {
    width: 200px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-button {
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.sidebar-button:hover {
    background-color: #575757;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-content {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0;
    flex: 1;
    background-color: #575757;
    padding: 20px 50px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.save-button,
.view-button {
    padding: 10px 20px;
    background-color: #4ea2fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.article-title {
    margin-bottom: 20px;
    color: white;
}

.title-input {
    width: 55%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section-box { /* Modify by the handsome Nuno */
    display: flex;
    margin-bottom: 20px;
}

.section-box .section-button { /* Modify by the handsome Nuno */
    width: 150px;
    padding: 10px 20px;
    background-color: #2e2e2e80;
    color: #fff;
    border: 1px solid rgb(19, 19, 19);
    cursor: pointer;
}

.section-box .section-button.active { /* Modify by the handsome Nuno */
    width: 150px;
    padding: 10px 20px;
    background-color: #2e2e2e;
    color: #fff;
    border: 1px solid rgb(19, 19, 19);
    cursor: pointer;
}

.content-box { /* Modify by the handsome Nuno */
    padding: 0px;
}

.content-box .content { /* Modify by the handsome Nuno */
    display: none;
}

.content-box .content.active { /* Modify by the handsome Nuno */
    display: block;
}

.article-content {
    width: 100%;
    height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 14px;
}
