<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items Article</title>
    <link rel="stylesheet" href="/Article/items-article.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-logo" href="/navbar-logo" alt="Logo">
                <img src="/css/imgAssets/project_Logo.png" alt="Logo" class="Logo">
            </a>
            <form class="nav-buttons" id="nav-buttons" action="/logout" method="post">
                <button class="nav-button">Sign Out</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="sidebar">
            <a href="/articleCreation" class="sidebar-button">New Article</a>
            <a href="/browser" class="sidebar-button">Browser</a>
            <a href="/community" class="sidebar-button">Community</a>
        </div>

        <div class="content-wrapper">
            <div class="main-content">
                <form id="articleForm">
                    <div class="button-container">
                        <button type="submit" class="save-button" id="saveButton">Save</button>
                        <button type="button" class="view-button" onclick="viewArticle()">View</button>
                    </div>
                    <div class="article-title">
                        <p>Article Title</p>
                        <label for="title"></label>
                        <input class="title-input" type="text" id="title" name="title" required>
                    </div>
                    <div class="section-box">
                        <button type="button" class="section-button active" id="bodyButton">Body</button>
                        <button type="button" class="section-button" id="sidebarButton">Sidebar</button>
                        <button type="button" class="section-button" id="navigationButton">Navigation</button>
                    </div>

                    <div class="content-box">
                        <div class="content active">
                            <div id="editor"></div>

                            <div class="templates">
                                <div class="acc_buttons">
                                    <button type="button" class="acc-button" id="templateButton">Template Prompts</button>
                                </div>
            
                                <div class="acc_section">
                                    <div class="acc_content">

                                        <div class="first_content">
                                            <h4>Price</h4>
                                            <input class="ch_price_inp" type="text" id="ch_price_inp" name="ch_price_inp" placeholder="Write here...">
                                            <h6>Color, length, styling, quality</h6>

                                            <h4>Weight</h4>
                                            <input class="ch_weight_inp" type="text" id="ch_weight_inp" name="ch_weight_inp" placeholder="Write here...">
                                            <h6>Color, length, styling, quality</h6>
            
                                            <h4>Size</h4>
                                            <input class="ch_size_inp" type="text" id="ch_size_inp" name="ch_size_inp" placeholder="Write here...">
                                            <h6>Color, size, direction, blemishes</h6>
                                        </div>
            
                                        <div class="secd_content">
                                            <h4>Creation Date</h4>
                                            <input class="ch_cDate_inp" type="text" id="ch_cDate_inp" name="ch_cDate_inp" placeholder="Write here...">
                                            <h6>Color, size, direction, blemishes</h6>

                                            <h4>Destruction Date</h4>
                                            <input class="ch_dDate_inp" type="text" id="ch_dDate_inp" name="ch_dDate_inp" placeholder="Write here...">
                                            <h6>Color, size, direction, blemishes</h6>
                                        </div>

                                        <div class="third_content">
                                            <h4>History</h4>
                                            <div id="items_hist"></div>

                                            <h4>Symbolism</h4>
                                            <div id="simb"></div>

                                            <h4>Inner Workings</h4>
                                            <div id="inWork"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content">
                            <h3>Sidebar: Top Text Box</h2>
                            <div id="sttb"></div>

                            <h3>Sidebar: Panel Top Text Box</h3>
                            <div id="sptb"></div>

                            <h3>Sidebar: Panel Bottom Text Box</h3>
                            <div id="spbb"></div>

                            <h3>Sidebar: Bottom Text Box</h3>
                            <div id="sbtb"></div>
                        </div>

                        <div class="content">
                            <h2>Coming Soon...</h2>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>A project for the class of COMP 380</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script src="/Article/items.js"></script>
    <script src="/script.js"></script>
    
</body>
</html>
